{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="{% static 'js/jquery.mask.js'%}"></script>
    <script defer src="{% static 'js/jquery.mask.min.js'%}"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/clientes.css' %}">
    <title>Cadastrar Cliente - Party Pass</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo_party_pass.png' %}" alt=""></a>
            <a href="{% url 'home' %}">Party Pass</a>
        </div>
        <div class="menus">
            <a href="{% url 'home' %}">INÍCIO</a>
            <a href="{% url 'ferramentas' %}">FERRAMENTAS</a>
            <a href="{% url 'sobre' %}">SOBRE</a>
        </div>
        <div class="perfil">
            <a href="#"><i class="fa-solid fa-bell"></i></a>
            <a href="#"><img src="https://source.unsplash.com/60x60/?perfil" alt=""></a>
        </div>
    </nav>
    <main>
        <div class="itens">
            <div class="titulo_ferramenta">
                <h1>Cadastrar Cliente</h1>
            </div>
            <form class="infos_cliente" method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
                <div class="nome_cliente">
                    <h2>Nome:</h2>
                    <input name="Nome" type="text" placeholder="Nome">
                </div>
                <div class="cpf_cliente">
                    <h2>CPF:</h2>
                    <input class="cpf" name="CPF" type="text" placeholder="CPF">
                </div>
                <div class="saldo_cliente">
                    <h2>Saldo:</h2>
                    <input class="saldo" name="Saldo" type="number" placeholder="Saldo">
                </div>
                <div class="email_cliente">
                    <h2>Email:</h2>
                    <input name="Email" type="text" placeholder="Email">
                </div>
                <div class="telefone_cliente">
                    <h2>Telefone:</h2>
                    <input class="Telefone" name="Telefone" type="text" placeholder="Telefone">
                </div>
                <div class="dt_nasc_cliente">
                    <h2>Data de Nascimento:</h2>
                    <input name="Data_nascimento" type="date" placeholder="Data_nascimento">
                </div>
                <div class="endereco_cliente">
                    <h2>Endereço:</h2>
                    <input name="Endereço" type="text" placeholder="Endereço">
                </div>
                <div class="buttons">
                    <button>Cancelar</button>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="geral">
            <div class="logo2">
                <a href="{% url 'home' %}"><img src="{% static 'img/logo_party_pass.png' %}" alt=""></a>
            </div>
            <div class="contato">
                <div class="telefone">
                    <h2>Telefone</h2>
                    <h3>+55 (48) 91234-5678</h3>
                </div>
                <div class="email">
                    <h2>Email</h2>
                    <h3><a href="mailto:party.pass.senac@gmail.com">party.pass.senac@gmail.com</a></h3>
                </div>
            </div>
            <div class="infos">
                <div class="sede">
                    <h3>Rua Drink, 51, Florianópolis - SC</h3>
                </div>
                <div class="social">
                    <h2>Siga-nos</h2>
                    <div class="icons">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://github.com/pdropaullo/Party_Pass_Web"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape">
            <h4>Party Pass Tecnologia LTDA. | 2023 | Todos os direitos reservados.</h4>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00')
            $('.saldo').maskMoney({ thousands: '.', decimal: ',', allowZero: true });
            $('.Telefone').mask('(00) 00000-0000')
        })
    </script>
</body>

</html>