{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Cliente</title>
    <link rel="stylesheet" href="{% static 'styleII.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{% static 'jquery.mask.js'%}"></script>
    <script defer src="{% static 'jquery.mask.min.js'%}"></script>

</head>

<body>
    <h1>Pesquisar Cliente </h1>
    <div class="search_btn">
        <form action="{% url 'pesquisar_cliente'%}">
            <input type="text" id="nome-input" name="pesquisar_cliente" placeholder="Buscar cliente por nome ou CPF">

            <!-- <input type="text" name="search" placeholder=" Buscar cliente"> -->
            <button type="submit">Buscar</button>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>Endereço</th>


            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes%}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefone}}</td>
                <td>{{cliente.data_nascimento}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.endereco}}</td>
                


            </tr>
            {%endfor%}

        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#nome-input').inputmask({ regex: String.raw`[A-Za-zÀ-ÿ\s]*`, placeholder: '' });
        });
    </script>

</body>

</html>