* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

:root {
    --black: #000f08;
    --green: #1c3738;
    --gray: #4d4847;
    --white-green: #f4fff8;
    --light-green: #627a7c;
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--light-green);
    display: flex;
    color: white;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 400px;
    margin: auto;
    justify-content: space-evenly;
}

.titulo_ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    justify-content: space-evenly;
}

.infos_produto {
    display: flex;
    flex-direction: column;
}

.nome_produto,
.valor_produto,
.categoria_produto,
.descricao_produto {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

input {
    width: 250px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 10px;
}

.buttons>button {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: white;
    font-size: 20px;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    color: yellow;
}

.buttons>a {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.buttons>a:hover {
    color: black;
}

.del {
    background-color: red;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.alt {
    background-color: green;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.del:hover,
.alt:hover {
    opacity: .8;
    color: yellow;
}