{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static '.css'%}"> -->
    <script defer src="{% static 'js/jquery.mask.js' %}"></script>
    <script defer src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script defer src="{% static 'js/mask.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="titulo">
            <h1>Cadastro de Produtos</h1>
    </div>
    <form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
        <input name="nome" value="{{produto.nome}}" type="text" placeholder="Nome do Produto">
        <input class="valor" name="valor" value="{{produto.valor}}" type="text" placeholder="Valor">
        <input name="categoria" value="{{produto.categoria}}" type="text" placeholder="Categoria">
        <input name="descricao" value="{{produto.descricao}}" type="textarea" placeholder="Descrição">
        <button type="submit">Adicionar</button>
    </form>
</body>

</html>