{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/editar_produto.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <h1>Editar Produto</h1>
    <form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
        <input name="nome" value="{{produto.nome}}" type="text">
        <input name="valor" value="{{produto.valor}}" type="text">
        <input name="categoria" value="{{produto.categoria}}" type="text">
        <input name="descricao" value="{{produto.descricao}}" type="text">
        <div class="buttons">
            <button class="salvar" type="submit" class="salvar">Salvar</button>
        </div>
    </form>

</body>
</html>